.feed {
    margin-top: 10px;

    .container {
        display: flex;
        gap: 10px;
        height: 100vh;
        padding: 10px;
    }

    .aside {
        flex: 1;
        border: 1px solid gray;
        border-radius: 4px;
    }
    .left-side {
        flex: 2;
        overflow-y: scroll;

        .create-post {
            margin-bottom: 10px;
        }
    }

    .left-side::-webkit-scrollbar {
        display: none;
    }
    
    .left-side {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .right-side {
        flex: 1;
        border: 1px solid grey;
        border-radius: 4px;
        overflow-y: scroll;

        .title {
            text-align: center;
            padding: 10px;
        }
    }

    .right-side::-webkit-scrollbar {
        display: none;
    }
    
    .right-side {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}
