$medium: 800px;
.Follower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

        .user-info {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
        }

    .follow-link {
        color: rgb(28, 66, 189);
    }

    @media screen and (max-width: $medium) {
        .name {
            display: none;
        }

        .tag {
            display: none;
        }
    }
}